body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #003366;
    color: white;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .logo {
    height: 50px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
    position: relative;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #0059b3;
    border-radius: 5px;
}

header nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
}

header nav ul li .dropdown-content li {
    margin: 0;
}

header nav ul li .dropdown-content li a {
    color: #003366;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

header nav ul li .dropdown-content li a:hover {
    background-color: #ddd;
}

header nav ul li:hover .dropdown-content {
    display: block;
}

.about {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.about .container {
    max-width: 800px;
    margin: 0 auto;
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #003366;
}

.about p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about h3 {
    font-size: 2em;
    margin-top: 30px;
    color: #0059b3;
}

.about ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.about ul li {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

.about ul li::before {
    content: "\2022";
    color: #0059b3;
    font-weight: bold;
    display: inline-block;
    width: 20px;
    position: absolute;
    left: 0;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
